  <%- include layouts/header.ejs%>
<br/>
    <div class="container">
          <div class="row	justify-content-center"  >
            <form style="max-width: 600px;" class="d-flex" id="busqueda" action="buscar">
                <input class="form-control me-2" type="search" id="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" id="btnsearch">Search</button>
              </form>
          </div>
          <br/>
          
      <% games.forEach(function(game){{%>
      
        <%- include layouts/Cgame.ejs%>

      <% }})%>
      
      </div>
      
      

<%- include layouts/footer.ejs%>