<!DOCTYPE html>
<html lang="en">
<head>
  <link href="stylesheets/login.css" rel="stylesheet" >
<!--===============================================================================================-->
</head>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <div class="tab">
        <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'London')">Iniciar Sesión</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Registro</button>
      </div>
  
      <!-- Icon -->
      <div class="fadeIn first">

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1200px-User_font_awesome.svg.png" id="icon" height="250px" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <div id="London" class="tabcontent">
        <form id="login" >
          <input type="text" id="userlogin" class="fadeIn second" name="user" placeholder="User">
          <input type="password" id="passwordlogin" class="fadeIn third" name="password" placeholder="Contraseña">
          <input type="submit" class="fadeIn fourth" value="Iniciar" href="home.js">
        </form>
        <div id="formFooter">
          <a class="underlineHover" href="#">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
      <!-- Register Form-->
      <div id="Paris" class="tabcontent">
        <form id="newUser">
          <input type="text" id="userregister" class="fadeIn second" name="user" placeholder="User">
          <input type="password" id="passwordregister1" class="fadeIn third" name="contrasenia" placeholder="Contraseña">
          <input type="password" id="passwordregister2" class="fadeIn third" name="contrasenia" placeholder="Repetir contraseña">
          <input type="submit" class="fadeIn fourth" value="Registrar">
        </form>
      </div>
      <!-- Remind Passowrd -->

  
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
   <script src="/__/firebase/8.2.3/firebase-app.js"></script>
   <script src="/__/firebase/8.2.3/firebase-auth.js"></script>
   <script src="javascripts/auth.js"></script>
   
  <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
    </script>
    <!--
    <script>
      const login = document.querySelector('#login');
      const user = document.querySelector('#userlogin');
      const password = document.querySelector('#passwordlogin');

      login.addEventListener('submit', (e) => {
        e.preventDefault();
        console.log(user.value, password.value);
        axios.post('/login', {user: user.value, password: password.value})
        .then(res => {

        })
        .catch(e => {

        });
      }) 
    </script>-->
    </script> 
<!--
        <script>
          const newUser = document.querySelector('#newUser');
          const userregister = document.querySelector('#userregister');
          const passwordregister1 = document.querySelector('#passwordregister1');
          const passwordregister2 =  document.querySelector('#passwordregister2');
    
          newUser.addEventListener('submit', (e) => {
            e.preventDefault();
            if (passwordregister1.value === passwordregister2.value){
              console.log('Contraseña valida')
            }else{
              console.log('No coincide')
            }
            // console.log(user.value, password.value);
            // axios.post('/loguear', {user: user.value, password: password.value})
            // .then(res => console.log(res))
            // .catch(e => console.log(e));
          }) 
        </script>-->

</body>
</html>